<h1>Listing licenses</h1>

<div class="btn-toolbar">
    <%= link_to 'New License', new_license_path, :class => "btn btn-primary" %>
    <button class="btn">Import</button>
    <button class="btn">Export</button>
</div>
<div class="well">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Validity term</th>
      <th>Publisher</th>
      <th>Note</th>
      <th style="width: 36px;"></th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
  <% @licenses.each do |license| %>
    <tr>
      <td><%= link_to license.name, license %></td>
      <td><%= license.validity_term %></td>
      <td><%= license.publisher %></td>
      <td><%= license.note %></td>
      <td>
          <%= link_to edit_license_path(license) do %>
          <i class="icon-pencil"></i>
          <% end %>
          
          <%= link_to license, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="icon-remove"></i>
          <% end %>
      </td>
    </tr>
  <% end %>


</table>

