<h1>Listing licenses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Validity term</th>
    <th>Publisher</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @licenses.each do |license| %>
  <tr>
    <td><%= license.name %></td>
    <td><%= license.validity_term %></td>
    <td><%= license.publisher %></td>
    <td><%= license.note %></td>
    <td>
      <div class="btn-group">
        <%= link_to 'Show', license, :class => "btn" %>
        <%= link_to 'Edit', edit_license_path(license), :class => "btn" %>
        <%= link_to 'Destroy', license, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New License', new_license_path, :class => "btn btn-primary" %>
