<div class="well">
  <%= form_for(@employee, html: {class: "form-horizontal", multipart: true}) do |f| %>
  <legend><%= legend_view %> </legend>
  <% if @employee.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

    <ul>
      <% @employee.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :"お名前（姓）" ,class: "control-label"%>
    <div class="controls">
      <%= f.text_field :family_name %>
    </div>
  </div>
  <div class="field contorol-group">
    <%= f.label :"お名前（名）", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :given_name %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :"お名前カナ（姓）", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :family_name_kana %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :"お名前カナ（名）", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :given_name_kana %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :"性別", class: "control-label" %>
    <div class="controls">
      <%= f.select :gender, @genders %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :"生年月日", class: "control-label" %>
    <div class="controls">
      <%= f.date_select :birthday %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :"経験年数", class: "control-label"%>
    <div class="controls">
      <%= f.number_field :experience %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :"入社年月日", class: "control-label" %>
    <div class="controls">
      <%= f.date_select :entrance_date %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :"郵便番号", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :postalcode %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :"住所", class: "control-label"%>
    <div class="contorols">
      <%= f.text_field :address %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :"最寄り駅", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :station %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :"最終学歴", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :education %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :"自己紹介", class: "control-label" %>
    <div class="controls">
      <%= f.text_area :self_pr, rows: "8", class: "span8" %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :"技術区分", class: "control-label" %>
    <div class="controls">
      <%= f.number_field :tech_flg %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :"社員区分", class: "control-label" %>
    <div class="controls">
      <%= f.number_field :staff_flg %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :"削除区分", class: "control-label" %>
    <div class="controls">
      <%= f.number_field :del_flg %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :"部署区分", class: "control-label" %>
    <div class="controls">
      <%= f.number_field :department_id %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :"写真", class: "control-label" %>
    <div class="controls">
      <%= f.file_field :image %>
    </div>
  </div>
  <div class="actions control-group">
    <div class="controls">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
  
    
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <%= f.hidden_field :gmaps ,{value: 'f'}%>
<% end %>
</div>
