<div class="span12">
  <%= render "shared/toolbar_for_index", model_name: params[:controller].classify %>
</div>

<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.family_name + " " + employee.given_name, employee %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'License', employee_employee_licenses_path(employee), :class => "btn" %>
            <%= link_to 'Skill', employee_employee_skills_path(employee), :class => "btn" %>
            <%= link_to 'Edit', edit_employee_path(employee), :class => "btn"%>
            <%= link_to 'Delete', employee,  method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
