<%= render "shared/toolbar_for_index", model_name: controller_name , title_name: "社員" %>
<%= link_to "出力", employees_path(format:'pdf'), class: "btn btn-primary" %>

<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th>社員名</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.family_name + " " + employee.given_name, employee %>
          <%= link_to employee,  method: :delete, data: { confirm: '削除してもよろしいですか?' }, title: "Delete", class: "pull-right" do %><i class="icon-trash"></i><% end %>
          <%= link_to edit_employee_path(employee), title: "Edit", class: "pull-right" do %><i class="icon-edit"></i><% end %>
        </td>
        <td>
          
          <div class="btn-group">
            <%= link_to '資格登録', employee_employee_licenses_path(employee), :class => "btn" %>
            <%= link_to 'スキル登録', employee_employee_skills_path(employee), :class => "btn" %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="gmap">
  <%= gmaps4rails(@json) %>
</div>
</div>

