<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <tr>
    <td>
     <b>Family name:</b>
    </td>
    <td>
      <%= @employee.family_name %>
    </td>
  </tr>

  <tr>
    <td>
      <b>Given name:</b>
    </td>
    <td>
      <%= @employee.given_name %>
    </td>
  </tr>

  <tr>
    <td>
      <b>Family name kana:</b>
    </td>
    <td>
      <%= @employee.family_name_kana %>
    </td>
  </tr>

  <tr>
    <td>
      <b>Given name kana:</b>
    </td>
    <td>
      <%= @employee.given_name_kana %>
    </td>
  </tr>

  <tr>
    <td>
      <b>Gender:</b>
    </td>
    <td>
      <%= @employee.gender %>
    </td>
  </tr>

  <tr>
    <td>
      <b>Birthday:</b>
    </td>
    <td>
      <%= @employee.birthday %>
    </td>
  </tr>

  <tr>
    <td>
      <b>Experience:</b>
    </td>
    <td>
      <%= @employee.experience %>
    </td>
  </tr>

  <tr>
    <td>
      <b>Entrance date:</b>
    </td>
    <td>
      <%= @employee.entrance_date %>
    </td>
  </tr>

  <tr>
    <td>
      <b>Postalcode:</b>
    </td>
    <td>
      <%= @employee.postalcode %>
    </td>
  </tr>

  <tr>
    <td>
      <b>Address:</b>
    </td>
    <td>
      <%= @employee.address %>
    </td>
  </tr>

  <tr>
    <td>
      <b>Station:</b>
    </td>
    <td>
      <%= @employee.station %>
    </td>
  </tr>

  <tr>
    <td>
      <b>Education:</b>
    </td>
    <td>
      <%= @employee.education %>
    </td>
  </tr>

  <tr>
    <td>
      <b>Self pr:</b>
    </td>
    <td>
      <%= @employee.self_pr %>
    </td>
  </tr>

  <tr>
    <td>
      <b>Tech flg:</b>
    </td>
    <td>
      <%= @employee.tech_flg %>
    </td>
  </tr>

  <tr>
    <td>
      <b>Staff flg:</b>
    </td>
    <td>
      <%= @employee.staff_flg %>
    </td>
  </tr>

  <tr>
    <td>
      <b>Del flg:</b>
    </td>
    <td>
      <%= @employee.del_flg %>
    </td>
  </tr>

  <tr>
    <td>
      <b>Department:</b>
    </td>
    <td>
      <%= @employee.department_id %>
    </td>
  </tr>
</table>

<div class="btn-group">
  <%= link_to 'Edit', edit_employee_path(@employee), :class => "btn" %> |
  <%= link_to 'Back', employees_path, :class => "btn" %>
</div>
