<%= form_for(@work, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :"社員名", :class => "control-label" %>
    <div class="controls">
      <%= select :work, :employee_id, @employee.map{|e| [full_name(e.family_name,e.given_name), e.id]} , selected: @work.employee_id || '*' %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :"担当営業名", :class => "control-label" %>
    <div class="controls">
      <%= select :work, :sales_staff_id, @staff.map{|e| [full_name(e.family_name,e.given_name), e.id]} , :include_blank => true, selected: @work.sales_staff_id || '*' %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :"お客様名", :class => "control-label" %>
    <div class="controls">
      <%= select :work, :customer_id, @customer.map{|e| [e.name, e.id]} , :include_blank => true, selected: @work.customer_id || '*' %>
    </div>
    <div class="Notes controls">
      お客様情報が存在しない場合、<span><%= link_to "こちら", new_customer_path %></span> から登録してください。
    </div>
  </div>
  <div class="actions control-group">
    <div class="controls">
      <%= f.submit :class => "btn" %>
    </div>
  </div>
<% end %>
