<%= render "shared/toolbar_for_index", model_name: controller_name , title_name: "現場" %>

<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th>社員</th>
        <th>担当営業</th>
        <th>お客様</th>
      </tr>
    </thead>

    <tbody>
      <% @works.each do |work| %>
        <tr>
          <td><%= work.employee_id %> : <%= work.employee.fullname  %>
          </td>
          <td><%= work.sales_staff_id %> : <%= work.sales_staff_id ? staff_name(work.sales_staff_id) : "存在しない" %> </td>
          <td><%= work.customer_id %> : <%= work.customer ? work.customer.name : "存在しない" %></td>
          <td>
            <div class="btn-group">
              <%= link_to 'Show', work, :class => "btn" %>
              <%= link_to 'Edit', edit_work_path(work), :class => "btn" %>
              <%= link_to 'details', work_work_details_path(work), :class => "btn" %>
              <%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>