<p id="notice"><%= notice %></p>

<table class="table table-striped">
<tr>
	<td>
	  <b>Employee:</b>
	</td>
	<td>
  	<%= @work.employee_id %>
  </td>
</tr>

<tr>
	<td>
	  <b>Sales staff:</b>
	</td>
	<td>
  	<%= @work.sales_staff_id %>
  </td>
</tr>

<tr>
	<td>
	  <b>Customer:</b>
	</td>
	<td>
  	<%= @work.customer_id %>
  </td>
</tr>
</table>

<div class="btn-group">
<%= link_to 'Edit', edit_work_path(@work), :class => "btn" %>
<%= link_to 'Back', works_path, :class => "btn" %>
</div>
