<div class="page-header">
  <h1>Listing employee_skills</h1>
</div>
<h2><%= @employee.fullname %></h2>

<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th>Skill</th>
        <th>Level</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @employee_skills %>
      <%= form_for([@employee, @employee_skill], remote: true) do |f| %>
        <tr>
          <td>
            <%= f.select :skill_id, @skills.map{|s|[s.name, s.id]} %>
          </td>
          <td>
            <%= f.number_field :level %>
          </td>
          <td>
            <%= f.submit "Create", :class => "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to 'New Employee skill', new_employee_employee_skill_path(params[:employee_id]), :class => "btn btn-success" %>
<%= link_to 'Back', employees_path, :class => "btn" %>