<h1>Listing employee_skills</h1>

<table>
  <tr>
    <th>Employee</th>
    <th>Skill</th>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employee_skills.each do |employee_skill| %>
  <tr>
    <td><%= employee_skill.employee_id %></td>
    <td><%= employee_skill.skill_id %></td>
    <td><%= employee_skill.level %></td>
    <td><%= link_to 'Show', employee_employee_skill_path(params[:employee_id], employee_skill) %></td>
    <td><%= link_to 'Edit', edit_employee_employee_skill_path(params[:employee_id], employee_skill) %></td>
    <td><%= link_to 'Destroy', employee_employee_skill_path(params[:employee_id], employee_skill), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee skill', new_employee_employee_skill_path(params[:employee_id]) %>
