<p id="notice"><%= notice %></p>

<p>
  <b>Employee:</b>
  <%= @employee_skill.employee_id %>
</p>

<p>
  <b>Skill:</b>
  <%= @employee_skill.skill_id %>
</p>

<p>
  <b>Level:</b>
  <%= @employee_skill.level %>
</p>


<%= link_to 'Edit', edit_employee_employee_skill_path(params[:employee_id], @employee_skill) %> |
<%= link_to 'Back', employee_employee_skills_path(params[:employee_id]) %>
