<p id="notice"><%= notice %></p>

<table class="table table-striped">
	<tr>
		<td>
  		<b>Employee:</b>
	  </td>
  	<td>
  		<%= @employee_skill.employee_id %>
	  </td>
	</tr>

	<tr>
		<td>
  		<b>Skill:</b>
	  </td>
  	<td>
  		<%= @employee_skill.skill_id %>
	  </td>
	</tr>

	<tr>
		<td>
  		<b>Level:</b>
	  </td>
  	<td>
  		<%= @employee_skill.level %>
	  </td>
	</tr>
</table>

<div class="btn-group">
<%= link_to 'Edit', edit_employee_employee_skill_path(params[:employee_id], @employee_skill), :class => "btn" %>
<%= link_to 'Back', employee_employee_skills_path(params[:employee_id]), :class => "btn" %>
</div>