<%= render "shared/toolbar_for_index", model_name: params[:controller].classify %>


<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Note</th>
        <th style="width: 36px;"></th>
      </tr>
    </thead>
    
    <tbody>
      <% @skills.each do |skill| %>
      <tr>
        <td><%= link_to skill.name, skill %></td>
        <td><%= skill.category %></td>
        <td><%= skill.note %></td>
        <td>
          <%= link_to edit_skill_path(skill), title: "Edit" do %>
          <i class="icon-edit"></i>
          <% end %>
    
          <%= link_to skill, title: "Delete", method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="icon-trash"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @skills %>
