<h1>Listing skills</h1>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Note</th>
    <th></th>
  </tr>

<% @skills.each do |skill| %>
  <tr>
    <td><%= skill.name %></td>
    <td><%= skill.category %></td>
    <td><%= skill.note %></td>
    <td>
      <div class="btn-group">
        <%= link_to 'Show', skill, :class => "btn" %>
        <%= link_to 'Edit', edit_skill_path(skill), :class => "btn" %>
        <%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Skill', new_skill_path, :class => "btn" %>
