<p id="notice"><%= notice %></p>
<div class="well">
	<legend>work_detail</legend>
	<table class="table">
		<tr>
			<th>
	  		<b>Name:</b>
			</th>
			<td>
	 			<%= @skill.name %>
			</td>
		</tr>
		<tr>
			<th>
			  <b>Category:</b>
			</th>
			<td>
	  		<%= @skill.category %>
			</td>
		</tr>
		<tr>
			<th>
  			<b>Note:</b>
			</th>
			<td>
	 			<%= @skill.note %>
			</td>
		</tr>
	</table>
</div>

<div class="btn-group">
	<%= link_to 'Edit', edit_skill_path(@skill), :class => "btn" %>
	<%= link_to 'Back', skills_path, :class => "btn" %>
</div>