<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Saitama", "#", {name: "top", class: "brand"} %>
      
      <div class="nav-collapse collapse">
        <% if user_signed_in? %>
        
        <div class="btn-group pull-right">
          <%= link_to "#", class: "btn dropdown-toggle", "data-toggle" => "dropdown" do %>
          <i class="icon-user"></i> admin <span class="caret"></span>
          <% end %>
            
          <ul class="dropdown-menu">
            <% if controller.kind_of?(Admin::Base) %>
            <li>
              <%= link_to :admin_root do %>
              <i class="icon-wrench"></i> Administration
              <% end %>
            </li>
            <li class="divider"></li>
            <% end %>
            
            <li>
              <%= link_to "#" do %>
              <i class="icon-wrench"></i> Settings
              <% end %>
            </li>
            <li class="divider"></li>
            
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="icon-share"></i> Logout
              <% end %>
            </li>
          </ul>
        </div>
        <ul class="nav">
          <li>
            <%= link_to profile_index_path do %>
            <i class="icon-user"></i> Profile
            <% end %>
          </li>
            
          <li class="divider-vertical"></li>
          <li>
            <%= link_to employees_path do %>
            <i class="icon-home"></i> Employee
            <% end %>
          </li>
            
          <li class="divider-vertical"></li>
          <li>
            <%= link_to works_path do %>
            <i class="icon-briefcase"></i> Work
            <% end %>
          </li>
            
          <li class="divider-vertical"></li>
          <li>
            <%= link_to customers_path do %>
            <i class="icon-map-marker"></i> Customer
            <% end %>
          </li>
            
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-thumbs-down"></i> Master
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li>
                <%= link_to skills_path do %>
                <i class="icon-star"></i> Skill
                <% end %>
              </li>
                
              <li>
                <%= link_to licenses_path do %>
                <i class="icon-book"></i> License
                <% end %>
              </li>
              <li>
                <%= link_to departments_path do %>
                <i class="icon-tag"></i> Department
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
