
  <div class="well card">
    <div class="span2">
       <%= link_to image_tag(@employee.image.url(:thumb), {class: "logo frame"}), edit_employee_path(@employee) %>
    </div>
    <div class="span3">
      <p><%= @employee.user.login_id if !@employee.user.nil? %></p>
      <p><strong><%= @employee.family_name + " " + @employee.given_name%></strong></p>
      <p><strong><%= @employee.family_name_kana + " " + @employee.given_name_kana %></strong></p>
      <%= link_to "変更", edit_employee_path(@employee), :class => "btn btn-success" %>
    </div>
  </div>
  <div class="collapse">
    <ul class="link">
      <li class="twitter">Twitter</li>
      <li class="facebook">FaceBook</li>
      <li class="linkdin">LinkdIn</li>
      <li class="google">Google+</li>
      <li class="mixi">mixi</li>
      <li class="setting">設定</li>
    </ul>
  </div>



<div class="content">
  <div class="col">
    <div class="waku kihon">
      <div class="waku-header">
        <div class="waku-name">基本情報</div>
        <div class="edit">
          <a href="#kihon">編集</a>
        </div>
      </div>
      <div class="waku-detail-group">
        <div class="waku-detail">
          <div class="waku-detail-header">性別</div>
          <div class="waku-detail-data"><%= $genders_list.select{|s| s[1] == @employee.gender}[0][0] %></div>
        </div>
        <div class="waku-detail">
          <div class="waku-detail-header">年齢</div>
          <div class="waku-detail-data">
            <%= nenrei(@employee.birthday) if !@employee.birthday.nil?  %>
          </div>
        </div>
        <div class="waku-detail">
          <div class="waku-detail-header">誕生日</div>
          <div class="waku-detail-data"><%= @employee.birthday %></div>
        </div>
        <div class="waku-detail">
          <div class="waku-detail-header">入社年月日</div>
          <div class="waku-detail-data"><%= @employee.experience %></div>
        </div>
        <div class="waku-detail">
          <div class="waku-detail-header">経験年数</div>
          <div class="waku-detail-data"><%= @employee.experience %></div>
        </div>
        <div class="waku-detail">
          <div class="waku-detail-header">最終学歴</div>
          <div class="waku-detail-data"><%= @employee.education %></div>
        </div>
      </div>
    </div>
    <div class="waku sumika">
      <div class="waku-header">
        <div class="waku-name">住所</div>
        <div class="edit">
          <a href="#sumika">編集</a>
        </div>
      </div>
      <div class="waku-detail-group">
        <div class="gmap">
          <%= gmaps4rails(@json) %>
        </div>
        <div class="waku-detail">
          <div class="waku-detail-header">郵便番号</div>
          <div class="waku-detail-data"><%= @employee.postalcode %></div>
        </div>
        <div class="waku-detail">
          <div class="waku-detail-header">最寄り駅</div>
          <div class="waku-detail-data"><%= @employee.station %></div>
        </div>
        <div class="waku-detail">
          <div class="waku-detail-header">住所</div>
          <div class="waku-detail-data"><%= @employee.address %></div>
        </div>
      </div>
    </div>
    <div class="waku appeal">
      <div class="waku-header">
        <div class="waku-name">アピール</div>
        <div class="edit">
          <a href="#appeal">編集</a>
        </div>
      </div>
      <div class="waku-detail-group">
        <div class="waku-detail">
          <div class="waku-detail-header">自己PR</div>
          <div class="waku-detail-data"><%= @employee.self_pr %></div>
        </div>
      </div>
    </div>
    <div class="waku skill">
      <div class="waku-header">
        <div class="waku-name">スキル</div>
        <div class="edit">
          <a href="#skill">編集</a>
        </div>
      </div>
      <div>
        <ul class="listview iconic">
          <li>
            <div class="icon">
              <%= image_tag 'lisences/ruby-logo.jpg', {class: "lisence_logo"} %>
              </div>
            <div class="data">
              <h4>使える技能</h4>
              <p>★スキルレベル☆</p>
            </div>
          </li>
          <% if @employee_skill %>
          <% @skills.skills.each do |skill| %>
          <% employee_skill = skill.employee_skills.find(:first) %>
          <li>
            <div class="icon">
              <i class="icon-digg"></i>
            </div>
            <div class="data">
              <h4><%= link_to skill.name, edit_employee_employee_skill_path(@employee, employee_skill) %></h4>
              <p>
                <% employee_skill.level.times do %>★<% end %>
              </p>
            </div>
          </li>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    
  </div>
  
  <div class="col">
        <div class="waku work-detail">
      <div class="waku-header">
        <div class="waku-name">経歴</div>
        <div class="edit">
          <%= link_to "編集", works_path %>
        </div>
      </div>
      <div class="waku-detail-group">
        <ul class="listview iconic">
          <li>
            <div class="icon">
              <%= image_tag 'lisences/java-logo.png', {class: "lisence_logo"} %>
              </div>
            <div class="data">
              <h4>業務タイトル</h4>
              <p>業務内容</p>
            </div>
          </li>
          <% @work_details.each do |wd| %>
            <% #employee_license = license.employee_licenses.find(:first) %>
          <li>
            <div class="icon">
              <i class="icon-digg"></i>
            </div>
            <div class="data">
              業務タイトル
              <p>業務内容
              </p>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="waku license">
      <div class="waku-header">
        <div class="waku-name">資格</div>
        <div class="edit">
          <a href="#license">編集</a>
        </div>
      </div>
      <div class="waku-detail-group">
      
      
        <ul class="listview iconic">
          <li>
            <div class="icon">
              <%= image_tag 'lisences/ruby-logo.jpg', {class: "lisence_logo"} %>
              </div>
            <div class="data">
              <h4>取得資格</h4>
              <p>取得日</p>
            </div>
          </li>
          <% if @employee_license %>
          <% @licenses.licenses.each do |license| %>
            <% employee_license = license.employee_licenses.find(:first) %>
          <li>
            <div class="icon">
              <i class="icon-digg"></i>
            </div>
            <div class="data">
              <%= link_to(license.name, edit_employee_employee_license_path(@employee, employee_license))%>
              <p>
                <%= link_to employee_license.acquisition_date, 
              edit_employee_employee_license_path(@employee, employee_license) %>
              </p>
            </div>
          </li>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="modal">
  <%= render :layout => "/shared/waku_modal", locals: {waku_id: "kihon", title: "基本情報"} do %>
    <%= form_for(@employee) do |f| %>
      <div class="waku-detail-group">
        <%= render :layout => "/shared/waku_modal_detail", locals: {detail_header: "性別", f: f} do %><%= f.select :gender, $genders_list %><% end %>
        <%= render :layout => "/shared/waku_modal_detail", locals: {detail_header: "年齢", f: f} do %><%= nenrei(@employee.birthday) if !@employee.birthday.nil?  %><% end %>
        <%= render :layout => "/shared/waku_modal_detail", locals: {detail_header: "誕生日", f: f} do %><%= f.date_select :birthday, {},{class: "select_date"} %><% end %>
        <%= render :layout => "/shared/waku_modal_detail", locals: {detail_header: "入社年月日", f: f} do %><%= f.date_select :entrance_date, {}, {class: "select_date"} %><% end %>
        <%= render :layout => "/shared/waku_modal_detail", locals: {detail_header: "経験年数", f: f} do %><%= f.number_field :experience %><% end %>
        <%= render :layout => "/shared/waku_modal_detail", locals: {detail_header: "最終学歴", f: f} do %><%= f.text_field :education %><% end %>
      </div>
      <%= render "shared/waku_modal_button", f: f %>
    <% end %>
  <% end %>
  
  <%= render :layout => "/shared/waku_modal", locals: {waku_id: "sumika", title: "住所"} do %>
    <%= form_for(@employee) do |f| %>
      <div class="waku-detail-group">
        <%= render :layout => "/shared/waku_modal_detail", locals: {detail_header: "郵便番号", f: f} do %><%= f.text_field :postalcode %><% end %>
        <%= render :layout => "/shared/waku_modal_detail", locals: {detail_header: "最寄り駅", f: f} do %><%= f.text_field :station %><% end %>
        <%= render :layout => "/shared/waku_modal_detail", locals: {detail_header: "住所", f: f} do %><%= f.text_area :address, size: "60x4"%><% end %>
      </div>
      <%= render "shared/waku_modal_button", f: f %>
    <% end %>
  <% end %>

  <%= render :layout => "/shared/waku_modal", locals: {waku_id: "appeal", title: "アピール"} do %>
    <%= form_for(@employee) do |f| %>
      <div class="waku-detail-group">
        <%= render :layout => "/shared/waku_modal_detail", locals: {detail_header: "自己PR", f: f} do %><%= f.text_area :self_pr, rows: "8"%><% end %>
      </div>
      <%= render "shared/waku_modal_button", f: f %>
    <% end %>
  <% end %>

  <% if @employee_skill %>
    <%= render :layout => "/shared/waku_modal", locals: {waku_id: "skill", title: "スキル"} do %>
      <%= form_for([@employee, @employee_skill]) do %>
        <div class="waku-detail-group">
          <div class="waku-detail">
            <div class="waku-detail-data">スキル名</div>
            <div class="waku-detail-data2">レベル</div>
          </div>
          <% @employee_skills.each do |employee_skill_| %>
            <%= fields_for("employee_skill_[]",employee_skill_) do |skill| %>
              <div class="waku-detail">
                <div class="waku-detail-data"><%= skill.select :skill_id, @skills.skills.map{|s|[s.name, s.id]} %></div>
                <div class="waku-detail-data2"><%= skill.number_field :level %></div>
              </div>
            <% end %>
          <% end %> 
        </div>
        <a href="#" class="btn btn-warning">CLOSE</a>
        <%= submit_tag "更新", :class => "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>

  <% if @employee_license %>
    <%= render :layout => "/shared/waku_modal", locals: {waku_id: "license", title: "資格"} do %>
      <%= form_for([@employee, @employee_license]) do %>
        <div class="waku-detail-group">
          <div class="waku-detail">
            <div class="waku-detail-data">資格名</div>
            <div class="waku-detail-data2">取得日</div>
          </div>
          <% @employee_licenses.each do |employee_license_| %>
            <%= fields_for("employee_license_[]",employee_license_) do |license| %>
              <div class="waku-detail">
                <div class="waku-detail-data"><%= license.select :license_id, @licenses.licenses.map{|s|[s.name, s.id]} %></div>
                <div class="waku-detail-data2"><%= license.date_select :acquisition_date, {}, {class: "select_date"} %></div>
              </div>
            <% end %>
          <% end %> 
        </div>
        <a href="#" class="btn btn-warning">CLOSE</a>
        <%= submit_tag "更新", :class => "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>


</div>
