<%= render "shared/toolbar_for_index", model_name: controller_name, title_name: "組織" %>

<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @departments.each do |department| %>
        <tr>
          <td><%= department.name %></td>
          <td>
            <div class="btn-group">
              <%= link_to 'Show', department, :class => "btn" %>
              <%= link_to 'Edit', edit_department_path(department), :class => "btn" %>
              <%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br />