<h1>Listing customers</h1>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Postalcode</th>
    <th>Address</th>
    <th>Website</th>
    <th>Phone num</th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.postalcode %></td>
    <td><%= customer.address %></td>
    <td><%= customer.website %></td>
    <td><%= customer.phone_num %></td>
    <td>
      <div class="btn-group">
        <%= link_to 'Show', customer, :class => "btn" %>
        <%= link_to 'Edit', edit_customer_path(customer), :class => "btn" %>
        <%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path, :class =>"btn btn-primary" %>
