<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Postalcode:</b>
  <%= @customer.postalcode %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>

<p>
  <b>Website:</b>
  <%= @customer.website %>
</p>

<p>
  <b>Phone num:</b>
  <%= @customer.phone_num %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
