<%= form_for([@work, @work_detail], :html => {:class => "form-horizontal"}) do |f| %>
  <% if @work_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_detail.errors.count, "error") %> prohibited this work_detail from being saved:</h2>

      <ul>
      <% @work_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :work_id, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field :work_id %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :title, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :subject, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :subject %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :role, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :role %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :work_role, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :work_role %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :work_class, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field :work_class %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :job_class, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :job_class %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :personnel_num, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field :personnel_num %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :period_form, :class => "control-label" %>
    <div class="controls">
      <%= f.date_select :period_form %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :period_to, :class => "control-label" %>
    <div class="controls">
      <%= f.date_select :period_to %>
    </div>
  </div>
  <div class="actions control-group">
    <div class="controls">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
