<%= render "shared/toolbar_for_index", model_name: "work_work_detail" , title_name: "業務内容" %>

<div class="well">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>プロジェクト名</th>
        <th>作業<br/>区分</th>
        <th>職位</th>
        <th>要員数</th>
        <th>期間<br/>開始</th>
        <th>期間<br/>終了</th>
        <th>詳細</th>
      </tr>
    </thead>

    <tbody>
      <% @work_details.each do |work_detail| %>
        <tr>
          <td><%= work_detail.title %></td>
          <td><%= work_detail.work_class %></td>
          <td><%= work_detail.job_short_name %></td>
          <td><%= work_detail.personnel_num %></td>
          <td><%= work_detail.period_form.strftime("%y/%m") %></td>
          <td><%= work_detail.period_to.strftime("%y/%m") %></td>
          <td>
            <div class="btn-group">
              <%= link_to 'Show', work_work_detail_path(params[:work_id], work_detail), :class => "btn" %>
              <%= link_to 'Edit', edit_work_work_detail_path(params[:work_id], work_detail), :class => "btn" %>
              <%= link_to 'Skill', work_work_detail_work_skills_path(params[:work_id], work_detail) , :class => "btn"%>
              <%= link_to 'Destroy', work_work_detail_path(params[:work_id], work_detail), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br />

<%= link_to 'Back', works_path, :class => "btn" %>
