<p id="notice"><%= notice %></p>

<table class="table table-striped">
<tr>
  <td>
    <b>Work:</b>
  </td>
  <td>
    <%= @work_detail.work_id %>
  </td>
</tr>

<tr>
  <td>
    <b>Title:</b>
  </td>
  <td>
    <%= @work_detail.title %>
  </td>
</tr>

<tr>
  <td>
    <b>Subject:</b>
  </td>
  <td>
    <%= @work_detail.subject %>
  </td>
</tr>

<tr>
  <td>
    <b>Role:</b>
  </td>
  <td>
    <%= @work_detail.role %>
  </td>
</tr>

<tr>
  <td>
    <b>Work role:</b>
  </td>
  <td>
    <%= @work_detail.work_role %>
  </td>
</tr>

<tr>
  <td>
    <b>Work class:</b>
  </td>
  <td>
    <%= @work_detail.work_class %>
  </td>
</tr>

<tr>
  <td>
    <b>Job class:</b>
  </td>
  <td>
    <%= @work_detail.job_class %>
  </td>
</tr>

<tr>
  <td>
    <b>Personnel num:</b>
  </td>
  <td>
    <%= @work_detail.personnel_num %>
  </td>
</tr>

<tr>
  <td>
    <b>Period form:</b>
  </td>
  <td>
    <%= @work_detail.period_form %>
  </td>
</tr>

<tr>
  <td>
    <b>Period to:</b>
  </td>
  <td>
    <%= @work_detail.period_to %>
  </td>
</tr>
</table>

<div class="btn-group">
<%= link_to 'Edit', edit_work_work_detail_path(params[:work_id], @work_detail), :class => "btn" %>
<%= link_to 'Back', work_work_details_path(params[:work_id]), :class => "btn" %>
</div>