
<%= form_for([@employee, @employee_license], :html =>{:class => "form-horizontal"}) do |f| %>
  <% if @employee_license.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_license.errors.count, "error") %> prohibited this employee_license from being saved:</h2>

      <ul>
      <% @employee_license.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="control-group">
      <%= f.label :employee_id, :class => "control-label" %>
      <div class="controls">
        <%= f.number_field :employee_id %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :license_id, :class => "control-label" %>
      <div class="controls">
        <%= f.number_field :license_id %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :acquisition_date, :class => "control-label" %>
      <div class="controls">
        <%= f.date_select :acquisition_date %>
      </div>
    </div>
    <div class="control-group">
      <div class="actions controls">
        <%= f.submit :class => "btn btn-primary" %>
      </div>
    </div>
<% end %>
