<p id="notice"><%= notice %></p>

<p>
  <b>Employee:</b>
  <%= @employee_license.employee_id %>
</p>

<p>
  <b>License:</b>
  <%= @employee_license.license_id %>
</p>

<p>
  <b>Acquisition date:</b>
  <%= @employee_license.acquisition_date %>
</p>


<%= link_to 'Edit', edit_employee_employee_license_path(@employee,@employee_license) %> |
<%= link_to 'Back', employee_employee_licenses_path %>
