<%= render "shared/toolbar_for_index", model_name: "work_work_detail_work_skill" , title_name: @work_title + " 業務利用スキル" %>

<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th>Skill</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @work_skills.each do |work_skill| %>
        <tr>
          <td>
            <%= work_skill.skill_id %> : <%= work_skill.skill_id ? skill_name(work_skill.skill_id) : "存在しない" %> </td>
          </td>
          <td>
            <div class="btn-group">
              <%= link_to 'Show', work_work_detail_work_skill_path(params[:work_id], params[:work_detail_id], work_skill), :class => "btn" %>
              <%= link_to 'Edit', edit_work_work_detail_work_skill_path(params[:work_id], params[:work_detail_id], work_skill), :class => "btn" %>
              <%= link_to 'Destroy', work_work_detail_work_skill_path(params[:work_id], params[:work_detail_id], work_skill), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'New Work skill', new_work_work_detail_work_skill_path(params[:work_id], params[:work_detail_id]), :class => "btn btn-success" %>
