<h1>Listing work_skills</h1>

<table class="table table-hover">
  <tr>
    <th>Work detail</th>
    <th>Skill</th>
    <th></th>
  </tr>

<% @work_skills.each do |work_skill| %>
  <tr>
    <td><%= work_skill.work_detail_id %></td>
    <td><%= work_skill.skill_id %></td>
    <td>
      <div class="btn-group">
        <%= link_to 'Show', work_work_detail_work_skill_path(params[:work_id], params[:work_detail_id], work_skill), :class => "btn" %>
        <%= link_to 'Edit', edit_work_work_detail_work_skill_path(params[:work_id], params[:work_detail_id], work_skill), :class => "btn" %>
        <%= link_to 'Destroy', work_work_detail_work_skill_path(params[:work_id], params[:work_detail_id], work_skill), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work skill', new_work_work_detail_work_skill_path(params[:work_id], params[:work_detail_id]), :class => "btn btn-primary" %>
