<h1>Profile#index</h1>
<p>Find me in app/views/profile/index.html.erb</p>

<% if user_signed_in? %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "ログイン", new_user_session_path %>
<% end %>

<table>
	<tr>
		<th><b>Family name:</b></th>
		<th><b>Given name:</b></th>
		<th><b>Family name kana:</b></th>
		<th><b>Given name kana:</b></th>
		<th><b>Gender:</b></th>
		<th><b>Birthday:</b></th>
  	<th><b>Experience:</b></th>
	  <th><b>Entrance date:</b></th>
	  <th><b>Postalcode:</b></th>
  	<th><b>Address:</b></th>
	  <th><b>Station:</b></th>
	  <th><b>Education:</b></th>
	  <th><b>Self pr:</b></th>
	  <th><b>Tech flg:</b></th>
	  <th><b>Staff flg:</b></th>
		<th><b>Del flg:</b></th>
  	<th><b>Department:</b></th>

  </tr>
  <tr>
	  <td><%= @employee.family_name %></td>
		<td><%= @employee.given_name %></td>
		<td><%= @employee.family_name_kana %></td>
		<td><%= @employee.given_name_kana %></td>
		<td><%= @employee.gender %></td>
		<td><%= @employee.birthday %></td>
		<td><%= @employee.experience %></td>
		<td><%= @employee.entrance_date %></td>
		<td><%= @employee.postalcode %></td>
		<td><%= @employee.address %></td>
		<td><%= @employee.station %></td>
		<td><%= @employee.education %></td>
		<td><%= @employee.self_pr %></td>
		<td><%= @employee.tech_flg %></td>
		<td><%= @employee.staff_flg %></td>
		<td><%= @employee.del_flg %></td>
		<td><%= @employee.department_id %></td>
</tr>
</table>


<table>
  <tr>
    <th>Employee</th>
    <th>License</th>
    <th>Acquisition date</th>
  </tr>

<% @employee_licenses.each do |employee_license| %>
  <tr>
    <td><%= employee_license.employee_id %></td>
    <td><%= employee_license.license_id %></td>
    <td><%= employee_license.acquisition_date %></td>
  </tr>
<% end %>
</table>


<table>
  <tr>
    <th>Employee</th>
    <th>Skill</th>
    <th>Level</th>
  </tr>

<% @employee_skills.each do |employee_skill| %>
  <tr>
    <td><%= employee_skill.employee_id %></td>
    <td><%= employee_skill.skill_id %></td>
    <td><%= employee_skill.level %></td>
  </tr>
<% end %>
</table>

