<!DOCTYPE html>
<html>
<head>
  <title>Saitama</title>
  <%= stylesheet_link_tag    "application" , params[:controller], :media => "all" %>
  <%= javascript_include_tag "application" , params[:controller] %>
  <%= yield :scripts %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/header" %>
        
  <div class="container">
    <div class="row">
      <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %> fade in">
        <a class="close" data-dismiss="alert">&times;</a>
        <%= msg  %>
      </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>