<!DOCTYPE html>
<html>
<head>
  <title>Saitama</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="brand">Saitama</div>
        <% if user_signed_in? %>
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li>
            <%= link_to 'Employee', employees_path %>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <%= link_to 'Work', works_path %>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <%= link_to 'Customer', customers_path %>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <%= link_to 'Skill', skills_path %>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <%= link_to 'License', licenses_path %>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <%= link_to 'department', departments_path %>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <%= link_to 'profile', profile_index_path %>
          </li>
          <li class="divider-vertical"></li>
        </ul>
        <ul class="nav pull-right">
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => "btn" %>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <% if notice %>
        <div class="alert alert-success fade in">
          <%= notice %><a class="close" data-dismiss="alert" href="#">&times;</a>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-error fade in">
          <%= alert %><a class="close" data-dismiss="alert" href="#">&times;</a>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
